.wrapper {
    width: 100%;
    max-width: 1000px;
    max-height: 820px;
    margin: 0 auto;
}

.geo {
    fill: #d5d8da;
    stroke: #607D8B;
    stroke-width: 0.75;
    outline: none;
}

.geo:hover {
    fill: #a9b1b4;
    stroke: #607D8B;
    stroke-width: 0.75;
    outline: none;
}

.geo:active {
    fill: #FF5722;
    stroke: #607D8B;
    stroke-width: 0.75;
    outline: none;
}

.map-border {
    width: 100%;
    max-width: 1200px;
    height: 800px;
    margin: 30px 140px auto auto;
}

@media (max-width: 1500px) {
    .map-border {
        margin: auto 0;
    }
}